/* Product range*/
.filtering-option{
    margin: 0 auto;
}
.filtering-option .select-input{
    cursor: pointer;
}
.prize-range{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
}
.range{
    color: var(--lightGrey);
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.range > input{
    width: 80%;
    margin: 0.5rem auto;
}

.content-box{
    padding: 2rem;
    flex: 1;
    background: var(--lynxWhite);
}
.product-container{
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
    height: 85vh;
    overflow: auto;
    scroll-margin-top: 1rem;
    padding: 1rem;
}
.product-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.shadow{
    width: 200px;
    min-width: 200px;
    padding-bottom: 0;
    margin: 0.5rem;
    margin: auto;
    cursor: pointer;
}
.card_img img:hover{
    transform: scale(1.1);
}

